.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  grid-template-areas:
    "title author"
    "image paragraph"
    "frame paragraph"
    "frame .";
  max-width: 984px;
  margin-bottom: 80px;
  list-style-type: none;
}

.place__title {
  margin: 0;
  max-height: 228px;
  max-width: 480px;
  font-family: "Inter", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 76px;
  grid-area: title;
}

.place__image {
  margin: 0;
  max-width: 460px;
  max-height: 460px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 48px auto 48px;
  grid-area: image;
}

.place__image_shadow {
  object-fit: cover;
  grid-area: image;
  width: 100%;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.place__frame {
  width: 356.08px;
  height: 48px;
  margin: 0;
  grid-area: frame;
  text-align: center;
  align-content: center;
  border-radius: 4px;
}

.place__frame_shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
}

.place__frame_paragraph {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 21.78px;
}

.place__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: author;
}

.place__website_url-heading {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.12em;
  text-decoration: none;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.place__website_artist {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.1;
}

.place__content-text {
  max-width: 484px;
  margin: 0;
  margin-top: 48px;
  grid-area: paragraph;
}

.place__paragraph {
  margin: 0;
  grid-area: paragraph;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.place__paragraph:nth-child(1) {
  margin-bottom: 25px;
}

.place__paragraph:nth-child(3) {
  margin-top: 25px;
}

.place__image:hover {
  opacity: 0.5;
}

.place__frame_shadow:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 100%
  );
}

/*470px, 665px, 999px, 1100px e 1500px*/

@media screen and (max-width: 1024px) and (min-width: 720px) {
  .place {
    max-width: 720px;
    width: 100%;
    margin-bottom: 72px;
  }

  .place__title {
    margin: 0;
    max-height: 92px;
    max-width: 340px;
    width: 100%;
    font-size: 2.625rem;
    line-height: 46px;
  }

  .place__image {
    width: 100%;
    max-width: 340px;
    max-height: 340px;
    width: 100%;
    height: 100%;
  }

  .place__frame {
    margin: 0;
    width: 355px;
    width: 100%;
    height: 48px;
  }

  .place__website {
    max-width: 352px;
    width: 100%;
  }

  .place__website_url-heading {
    margin: 0;
    font-size: 0.75rem;
    margin-bottom: 8px;
  }

  .place__content-text {
    max-width: 352px;
    width: 100%;
    margin-bottom: 30px;
  }

  .place__paragraph {
    grid-area: paragraph;
    font-family: "Inter", sans-serif;
    font-size: 0.89rem;
    font-weight: 400;
    line-height: 29.34px;
  }
}

@media screen and (max-width: 720px) and (min-width: 320px) {
  .place {
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "title"
      "author"
      "image"
      "paragraph"
      "frame";
    max-width: 320px;
    row-gap: 30px;
  }

  .place__title {
    margin: 0 auto;
    max-width: 288px;
    width: 100%;
    font-size: 2rem;
    line-height: 35px;
    text-align: left;
  }

  .place__image {
    max-width: 320px;
    max-height: 320px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
  }

  .place__frame {
    margin: 0 auto;
    width: 288px;
    height: 48px;
    margin-bottom: 50px;
  }

  .place__frame_paragraph {
    margin: 0;
    font-size: 0.875rem;
    line-height: 16.94px;
  }

  .place__website {
    margin: 0 auto;
    max-width: 288px;
    width: 100%;
  }

  .place__website_url-heading {
    text-align: left;
  }

  .place__website_artist {
    margin-top: 8px;
    text-align: left;
  }

  .place__content-text {
    margin: 0 auto;
    max-width: 288px;
    grid-area: paragraph;
  }

  .place__paragraph {
    grid-area: paragraph;
    font-family: "Inter", sans-serif;
    font-size: 0.89rem;
    font-weight: 400;
    line-height: 29.34px;
  }
}
